/* Define styles for the container div of the Scatterplot component */
.scatter-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  
}

/* Define styles for the Scatterplot component */
.scatter-component {
  width: 100%;
  height: 100%;
}

/* Define styles for the feature selector container */
.selector-container-scatter {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 150px;
  background-color: #351C75;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

/* Define styles for the feature selector label */
.selector-label-scatter {
  margin-right: 60px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  width:20px;
  color: #fff;
}

/* Define styles for the feature selector */
.selector-scatter {
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

/* Define styles for the "Show Training Data" checkbox container */
.plot-training-data {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

/* Style for the checkbox */
.plot-training-data input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Style for the checkbox label */
.plot-training-data label {
  font-size: 20px;
  color: #fff;
  white-space: nowrap; /* Keep the label on one line */
}


.no-data-scatter {
  display: flex;
 flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height to your preference */
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  margin-left: 150px; /* To align with the selector component */
}

/* Style for the additional message */
.no-data-message {
  font-size: 25px;
  margin-top: 5px;
  color: #fff;
}
