build:
  stage: build

  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]

  script:
    # Authenticate at the registry
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    # Build and push the image
    - /kaniko/executor
      --context $CI_PROJECT_DIR/app
      --dockerfile ./Dockerfile
      --destination $CI_REGISTRY_IMAGE/app:$CI_COMMIT_TAG
      --destination $CI_REGISTRY_IMAGE/app:latest