version: '3'
services:
  cellapp:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /home/rai/Documents/MSCE/Sem2/ami/project_datashare:/data
    ports:
      - "8000:8000"
      - "3000:3000"
    environment:
      - DATA_DIR=/data
      - USER_DATA_FOLDER=/app/backend/user_data
      - TRAINING_DATA_FOLDER=/app/backend/classification/data
      - NUMBA_CACHE_DIR=/tmp 
    command: supervisord
