version: '3'
services:
  cellapp:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /home/fidelinus/tum/applied_machine_intelligence/final_project/data:/data
      - ./:/app
    ports:
      - "8000:8000"
      - "3000:3000"
    environment:
      - DATA_FOLDER=/data
      - NUMBA_CACHE_DIR=/tmp 
    command: supervisord
