.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #261738;
  max-width: 400px; /* Set an appropriate max-width to limit its size */
  padding-top: 20px;
  padding-left: 0px; /* Add a bit of left padding for spacing */
  padding-right: 0px; /* Add a bit of right padding for spacing */
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  margin: 0 auto; /* Center the menu container horizontally */
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #261738;
  max-width: 400px; /* Set an appropriate max-width to limit its size */
  padding-top: 20px;
  padding-left: 10px; /* Add a bit of left padding for spacing */
  padding-right: 10px; /* Add a bit of right padding for spacing */
  height: 189vh;
  box-sizing: border-box;
  
  margin: 0 auto; /* Center the menu container horizontally */
}


.menu-button {
  margin-bottom: 10px;
  width: 90%;
  padding: 10px 10px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #453c42;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-image-id {
  margin-bottom: 20px;
  width: 90%;
  font-size: 30px;
  color: #fff;
}

.menu-cell-count {
  margin-bottom: 20px;
  width: 90%;
  font-size: 30px;
  color: #fff;
}

.menu-button:hover {
  background-color: #606268;
}

.submit-button {
  font-size: 25px;
}

.error-message {
  font-size: 18px;
}

.menu-button-disabled {
  margin-bottom: 10px;
  width: 90%;
  padding: 10px 10px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
  opacity: 0.6; /* Lower the opacity to visually indicate disabled state */
  cursor: not-allowed; /* Change the cursor to indicate unclickable */
  background-color: #9e9e9e; /* Change the background color for disabled state */
}

.selector-container {
  width: 100%;
  margin-bottom: 20px;
}

.selector-label {
  display: block;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  color: #fff;
}

.selector {
  width: 90%;
  padding: 7px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.created-by {
  text-align: center;
  font-size: 18px;
  color: #fff; /* Adjust the color to your preference */
}

.created-by p {
  margin-bottom: 10px; /* Add a little space between the label and the list */
}

.created-by ul {
  font-size: 16px;
  list-style-type: disc; /* Display bullet points */
  padding-left: 20px; /* Add indentation to the list items */
}
