.legend-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #3c3e45;
    height: 800px;
    width: 7%;
    padding-top: 0px;
    padding-left: 0px;
    box-sizing: border-box;    
}

.legend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 5px;
    width: 80%;
    color: #fff;
    background-color: #3c3e45;
    transition: background-color 0.3s ease;
}

.legend-color-box {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 0%;
}
